
<div *ngIf="exercise" class="swiper-container swiper-container-v3">
	<div class="swiper-wrapper">
		<div class="swiper-slide swiper-slide--v mt-panel clearfix exercise-panel"> 
			<div class="exercise">
				<div class="exercise" attr.data-index="{{exercise.id}}" attr.data-name="{{exercise.name}">
					<h1 class="margin-sm mt-panel__heading">Øvelse <span class="index">{{exercise.id}}</span>: <span class="name">{{exercise.name}}</span></h1>
					<div class="exercise__imageviewer imageviewer">
						<div class="imageviewer__images">
								<img 
									*ngFor="let img of exercise.images; let index=index;" 
									[ngClass]="{current: (index == currentIndex)}"
									class="imageviewer__image" src="/mtassets/exercise-images/{{img.name}}" />
						</div>

						<div class="imageviewer__controls">
							<button (click)="play()" class="imageviewer__btn btn-play btn">
								<img src="assets/play-btn.svg">
								<span class="sr-only">afspil øvelse</span>
							</button>
							<button (click)="pause()" class="imageviewer__btn btn-pause btn">
								<img src="assets/pause-btn.svg">
								<span class="sr-only">pause afspilning</span>
							</button>
							<button (click)="stop()" class="imageviewer__btn btn-stop btn">
								<img src="assets/stop-btn.svg">
								<span class="sr-only">stop afspilning</span>
							</button>
							<button (click)="prev()" class="imageviewer__btn btn-prev btn">
								<img src="assets/prev-btn.svg">
								<span class="sr-only">forrige billede</span>
							</button>
							<button (click)="next()" class="imageviewer__btn btn-next btn">
								<img src="assets/next-btn.svg">
								<span class="sr-only">næste billede</span>
							</button>  
						</div>
					</div>
					<div class="exercise__textwrapper">
						<h1 class="margin-sm">{{exercise.name}}</h1>
						<p>{{exercise.focus}} / {{exercise.diff}}</p>
						<div class="exercise__description" [innerHTML]="exercise.description"></div>
					</div >
				</div>
			</div>
		</div>		
	</div>
	<div class="swiper-scrollbar swiper-scrollbar-v3"></div>
</div>
