<div class="" >
	<nav class="aside-menu" >
		<ul id="menu-sidebar" class="nav flex-column">
			<li id="" class="nav-item">
				<a class="nav-link" routerLink="/blog/page/kropsvaegtstraening" routerLinkActive="active">Intro til Workout Generatoren</a>
			</li>
			<li id="" class="nav-item">
				<a class="nav-link" routerLink="/blog/page/kropsvaegtstraening3" routerLinkActive="active">Kropsvægtstræning</a>
			</li>
			<li id="" class="nav-item">
				<a class="nav-link" routerLink="/blog/page/kropsvaegtstraening3" routerLinkActive="active">Undgå skader</a>
			</li>
			<li id="" class="nav-item">
				<a class="nav-link" routerLink="/blog/page/kom-igang" routerLinkActive="active">Vores Træningstips</a>
				<!--button type="button" class="expand-btn" (click)="toggleSubMenu($event)">
					<span class="sr-only open">åbn undermenu</span><span class="sr-only close">luk undermenu</span>
				</button>
				<ul role="menu" class="nav menu-item__submenu secondlevel">
					<li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20">
						<a routerLink="/blog/page/kom-igang3" routerLinkActive="active">Kom igang</a>
					</li>
					<li id="menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18">
						<a routerLink="/blog/page/kom-igang3" routerLinkActive="active">Hold dampen oppe</a>
					</li>
					<li id="menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18">
						<a routerLink="/blog/page/kom-igang3" routerLinkActive="active">Målret din træning</a>
					</li>
				</ul-->
			</li>
			<li id="" class="nav-item">
				<a class="nav-link" routerLink="/blog/page/kom-igang3" routerLinkActive="active">Om Mytrainer</a>
			</li>
		</ul>
	</nav>
</div>