 <nav class="mt-topbar">
	<div class="container-fluid">
		<div class="mt-topbar__logo">
			<a class="" href="#"><img src="/assets/mtlogo.svg" alt="My trainer" /></a>
		</div>
		<div class="mt-topnav">
			<ul class="nav">
				<li class="active" >
					<a class="mt-topnav__link" routerLink="/generator" routerLinkActive="active">
						Workout
						<span class="hidden-xs"> Generator</span>
						<!--span class="sr-only">(current)</span-->
					</a>
				</li>
				<li>
					<a class="mt-topnav__link" routerLink="/blog" routerLinkActive="active">
						Blog
						<!--span class="sr-only">(current)</span-->
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="main-content container-fluid">
	<router-outlet></router-outlet>
</div>