.mt-panel-item {

	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 18px;
	}

	border-left: solid 1px @grey;
	padding: 15px;
}

.mt-panel-menu {
	position: fixed;
    width: 100%;
    padding: 0 15px;
}

.mt-panel-menu-item {
	height: 25px;
}

.mt-panel-menu-border {
	height:    1px;
	border-bottom: solid 1px @grey;
}
