.mt-panel{
	padding: 10px;
	@media (min-width: @screen-sm) {
		padding: 10px 20px;
	}
	height: auto;
	//height: 100%;

	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 18px;
	}

	&--flex{
		height:100%;
	}

	&__heading{
		background: url('/mtassets/images/border.svg');
		background-repeat: no-repeat;
		background-position: bottom right;
		margin: 10px 0;

	}
}