<div class="panelmenu">
	<div class="panelmenu-items row">
		<div class="generator col-4">generator
		</div>
		<div class="workout col-4">workout
		</div>
		<div class="exercise col-4">exercise
		</div>
	</div>
	<div class="panelmenu-border">
	</div>
</div>
<div class="row panels" style="position:relative; top: 25px;">
	<div class="col-12 col-sm-6 col-lg-4 swiper-slide" >
		<generator-form></generator-form>
	</div>
	<div class="col-12 col-sm-6 col-lg-4 swiper-slide" >
		<workout></workout>
	</div>
	<div class="col-12 col-sm-6 col-lg-4 swiper-slide" >
		<exercise></exercise>				
	</div>
	<!--div class="swiper-nav-button swiper-nav-button--next"></div>
    <div class="swiper-nav-button swiper-nav-button--prev"></div>
	<div class="swiper-scrollbar swiper-scrollbar-h"></div-->
</div>
