<div class="mt-panel-menu">
	<div class="row">
		<div class="mt-panel-menu-item col-4">generator
		</div>
		<div class="mt-panel-menu-item col-4">workout
		</div>
		<div class="mt-panel-menu-item col-4">exercise
		</div>
	</div>
	<div class="panelmenu-border">
	</div>
</div>
<div class="container-fluid" style="height:100%; padding-top: 25px;">
	<div class="row no-gutters" style="flex-grow:1; height:100%">
		<div class="col-12 col-sm-6 col-lg-4" >
			<generator-form></generator-form>
		</div>
		<div class="col-12 col-sm-6 col-lg-4" >
			<workout></workout>
		</div>
		<div class="col-12 col-sm-6 col-lg-4" >
			<exercise></exercise>				
		</div>
	</div>
	<!--div class="swiper-nav-button swiper-nav-button--next"></div>
    <div class="swiper-nav-button swiper-nav-button--prev"></div>
	<div class="swiper-scrollbar swiper-scrollbar-h"></div-->
</div>
