<div class="row">
	<div *ngFor="let post of posts | slice:0:4; let index=index;" [ngClass]="{'col-lg-6': (!post.excerpt)}" class="col-xs-12">
		<blog-post-teaser [post]="post" ></blog-post-teaser>
	</div>
</div>


<workout-spot [workoutId]=6 ></workout-spot>


<div class="row">
	<div *ngFor="let post of posts | slice:4:8; let index=index;" [ngClass]="{'col-lg-6': (!post.excerpt)}" class="col-xs-12">
		<blog-post-teaser [post]="post" ></blog-post-teaser>
	</div>
</div>

<div class="feature-zone row">
	<h1 class="col-xs-12" >Seneste Øvelser</h1>
	<div class="col-xs-6 col-sm-4 col-md-3">
		<exercise-thumbnail [exerciseId]=1 ></exercise-thumbnail>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3">
		<exercise-thumbnail [exerciseId]=2 ></exercise-thumbnail>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3">
		<exercise-thumbnail [exerciseId]=3 ></exercise-thumbnail>
	</div>
</div>

<div class="row">
	<div *ngFor="let post of posts | slice:8; let index=index;" [ngClass]="{'col-lg-6': (!post.excerpt)}" class="col-xs-12">
		<blog-post-teaser [post]="post" ></blog-post-teaser>
	</div>
</div>