
<div *ngIf="workout" class="swiper-container swiper-container-v2">
	<div class="swiper-wrapper">
		<div class="swiper-slide swiper-slide--v mt-panel clearfix workout-panel">
			<div class="row medium-gutters">
				<div class="col-xs-12" >
					<h1 class="margin-sm mt-panel__heading">Din Workout <span class="hidden">{{workout.name}}</span></h1>
					<h2 class="margin-sm">Forløb: {{workout.protocol.name}}</h2>
					<div [innerHTML]="workout.protocol.descr" ></div>        
					<h2 class="margin-sm">Øvelser:</h2>
					<div class="workout__exercises">
						<div class="row small-gutters">
							<div *ngFor="let ex of workout.exercises" (click)="selectExercise(ex)" class="col-xs-4 col-sm-3">
								<exercise-thumbnail [exercise]="ex"></exercise-thumbnail>
							</div>
						</div>
					</div>        
				</div>
			</div>
		</div>
	</div>
	<div class="swiper-scrollbar swiper-scrollbar-v2"></div>
</div>